* {
    margin: 0;
    padding: 0;
}

.pageWrapper{
    min-height: 77vh;
}

.pageContainer{
    width: 100%;
    padding-top: 82px;
}

.postContainer{
    padding: 2em;
    width: 100%;
    box-sizing: border-box;
}

.postTitle{
    text-align: center;
    font-size: 2.2rem;
    border-radius: 15px;
    padding: 16px;
    min-width: 50px;
    min-height: 50px;
}

.postTitle:focus, .postDes:focus, .postBody:focus{
    box-shadow:  0px 0px 4px black;
}

.postTitleSectionContainer{
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.postDes{
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 16px;
    min-height: 35px;
}

.postBody {
    border-radius: 15px;
    padding: 16px;
    min-height: 23px;
}

.toolbarContainer {
	width: 25%;
	position: fixed;
	top: 130px;
    left: 50%;
    margin-left: -12.5%;
    max-height: 381px;
	overflow-y: auto;
	padding: 16px;
	background-color: #fbffe4;
    box-shadow: 0px 0px 3px black;
	border-radius: 15px;
	color: #4c107d;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.toolsContainer {
    /*TODO style tools container */
    display: flex;
    flex-wrap: wrap;
    min-height: 128px;
    justify-content: center;
}
.toolbar-tool {
    width: 25px;
    height: 25px;
	color: #13456f;
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 8px;
	cursor: pointer;
	border-radius: 50%;
    background-color: #eaf6ff;
    margin-right: 8px;
    margin-bottom: 16px;
}
.fontSizeMenuItemContainer {
    padding: 8px 0px;
    text-align: center;
    cursor: pointer;
}
.customFontSizeContainer {
	display: flex;
	padding: 16px;
	justify-content: center;
}
.customFontSizeI {
	width: 50px;
	border: 1px solid #9b9b9b;
	margin: 0px 4px;
    color: #13456f;
    text-align: center;
}
#customFontSizeIPx {
    margin-right: 16px;
    margin-top: -4px;
}
#customFontSizeSubmit {
    margin-top: -2px;
    cursor: pointer;
}
.navbarToggleActiveToolbar{
    top: 76px;
}
.toolIcon{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.toolbar-tool:hover>.toolIcon{
    font-size: 1.3rem ;
}
.toolbar-tool:hover{
    width: 30px;
    height: 30px;
    font-size: 1.3rem ;
}
.colorIcon{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    flex: 1px;
    margin: 2px;
}
.platesColorContainer{
    padding: 16px;
}
.colorPlat{
    display: flex;
    flex-wrap: wrap;
}
.headerTool{
    cursor: pointer;
    min-height: 20px;
    margin: 8px;
}
.toggleTool{
    color: green;
}
.changesSaved{
    color:green;
}
.rotate{
    animation-name: rotate-animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}@keyframes rotate-animation {
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.textAlign-tool {
    width: 40px;
    height: 40px;
    background-color: #13456f;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #e37801;
    margin: 0px 16px;
    cursor: pointer;
}
.textAlignPositionsContainer {
    display: flex;
    justify-content: center;
    padding: 16px;
}
#htmlModalContainer {
    width: 80vw;
    height: 40vh;
    position: fixed;
    top: 22vh;
    left: 10vw;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0px 0px 6px black;
    display: flex;
    flex-direction: column;
}
#htmlModalEditorArea {
    height: 89%;
    background-color: #171717;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 15px 15px 0px 0px;
    font-family: Source Code Pro;
    font-size: 0.8rem;
    color: gainsboro;
    overflow: auto;
}
#htmlModalBtnsContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex: 1;
    justify-content: end;
    background-color: #282828;
    padding: 8px;
    border-radius: 0px 0px 15px 15px;
}
#htmlModalCancelBtn {
    background-color: #4f0000;
    padding: 8px;
    color: gainsboro;
    border-radius: 12px;
    cursor: pointer;
    min-width: 58px;
    text-align: center;
}
#htmlModalAddBtn {
    background-color: #002600;
    color: gainsboro;
    padding: 8px;
    border-radius: 12px;
    min-width: 58px;
    text-align: center;
    cursor: pointer;
    margin: 0px 56px;
}
/********************** responsive layout ********************/
@media only screen and (max-width: 800px){
    .toolbarContainer {
        top: 196px;
        width: 75%;
        margin-left: -37.5%;
        box-sizing: border-box;
    }
    .navbarToggleActiveToolbar{
        top: 76px;
    }
}

@media only screen and (max-width: 400px){
    .toolbarContainer {
        top: 196px;
        width: 75%;
        margin-left: -37.5%;
        box-sizing: border-box;
    }
    .postContainer {
        margin-top: 20px;
    }
    .navbarToggleActiveToolbar{
        top: 76px;
    }
    #htmlModalContainer{
        top: 32vh;
        height: 60vh;
    }
    #htmlModalAddBtn{
        margin: 0px 35px;
    }
}