* {
    margin: 0;
    padding: 0;
}

.pageWrapper {
    min-height: 77vh;
}

.pageContainer {
    width: 100%;
    padding-top: 82px;
}

.postContainer {
    padding: 2em;
    width: 700px;
    box-sizing: border-box;
    margin: auto;
}

.postTitle {
    text-align: center;
    font-size: 2.2rem;
    border-radius: 15px;
    padding: 16px;
    min-width: 50px;
    min-height: 50px;
}

.postTitle:focus,
.postDes:focus,
.postBody:focus {
    box-shadow: 0px 0px 4px black;
}

.postTitleSectionContainer {
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.postDes {
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 16px;
    min-height: 35px;
    margin: 60px 0px;
}

.postBody {
    border-radius: 15px;
    padding: 16px;
    min-height: 20vh;
    white-space: pre-wrap;
}

.postBody div {
    padding: 0px 0px 8px 0px;
}

.postBody a {
    text-decoration: none;
    color: #099fa4;
    cursor: pointer;
}

.toolsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.toolbar-tool {
    width: 25px;
    height: 25px;
    color: #13456f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #eaf6ff;
    margin-right: 8px;
    margin-bottom: 16px;
}

.fontSizeMenuItemContainer {
    padding: 8px 0px;
    text-align: center;
    cursor: pointer;
}

.customFontSizeContainer {
    display: flex;
    padding: 16px;
    justify-content: center;
}

.customFontSizeI {
    width: 50px;
    border: 1px solid #9b9b9b;
    margin: 0px 4px;
    color: #13456f;
    text-align: center;
}

#customFontSizeIPx {
    margin-right: 16px;
    margin-top: -4px;
}

#customFontSizeSubmit {
    margin-top: -2px;
    cursor: pointer;
}

/* tool bar container*/
.toolbar {
    position: fixed;
    background-color: #e1e3d5;
}

.rightTB {
    right: 0px;
    width: 70px;
    height: 50vh;
    direction: rtl;
    overflow: auto;
    padding: 8px;
}

.leftTB {
    left: 0px;
    width: 70px;
    height: 50vh;
    overflow: auto;
    padding: 8px;
}

.floatTB {
    width: 400px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    border-radius: 15px;
}

.tBTogglerContainerOpen {
    margin-left: auto;
    margin-right: auto;
}

.hiddenTb {
    width: auto !important;
    height: auto !important;
    padding-bottom: 0px;
}

.hiddenTbRight {
    border-radius: 15px 0px 0px 15px;
}

.hiddenTbLeft {
    border-radius: 0px 15px 15px 0px;
}


/* end tool bar */


/* menu toolbar */
.menuContainer {
    position: fixed;
    background-color: #d5dde3;
    color: #13456f;
    border-radius: 15px;
    overflow: auto;
}

/* end menu container */

.non-select {
    /* non select */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.toolIcon {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.toolbar-tool:hover>.toolIcon {
    font-size: 1.3rem;
}

.toolbar-tool:hover {
    width: 30px;
    font-size: 1.3rem;
}

.colorIcon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    flex: 1px;
    margin: 2px;
}

.platesColorContainer {
    padding: 16px;
}

.colorPlat {
    display: flex;
    flex-wrap: wrap;
}

.headerTool {
    cursor: pointer;
    min-height: 20px;
    margin: 8px;
}

.toggleTool {
    color: green;
}

.changesSaved {
    color: green;
}

.rotate {
    animation-name: rotate-animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes rotate-animation {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.textAlign-tool {
    width: 40px;
    height: 40px;
    background-color: #13456f;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #e37801;
    margin: 0px 16px;
    cursor: pointer;
}

.textAlignPositionsContainer {
    display: flex;
    justify-content: center;
    padding: 16px;
}

#htmlModalContainer {
    width: 80vw;
    height: 40vh;
    position: fixed;
    top: 22vh;
    left: 10vw;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0px 0px 6px black;
    display: flex;
    flex-direction: column;
}

#htmlModalEditorArea {
    height: 89%;
    background-color: #171717;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 15px 15px 0px 0px;
    font-family: Source Code Pro;
    font-size: 0.8rem;
    color: gainsboro;
    overflow: auto;
}

#htmlModalBtnsContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex: 1;
    justify-content: end;
    background-color: #282828;
    padding: 8px;
    border-radius: 0px 0px 15px 15px;
}

#htmlModalCancelBtn {
    background-color: #551919;
    padding: 8px;
    color: gainsboro;
    border-radius: 12px;
    cursor: pointer;
    min-width: 58px;
    text-align: center;
}

#htmlModalAddBtn {
    background-color: #2b5b28;
    color: gainsboro;
    padding: 8px;
    border-radius: 12px;
    min-width: 58px;
    text-align: center;
    cursor: pointer;
    margin: 0px 56px;
}

#embedsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#embedModalContainer {
    width: 60%;
    position: fixed;
    height: 5%;
    top: 50%;
    left: 20%;
    background-color: #171717;
    box-shadow: 0px 0px 8px black;
    border-radius: 15px;
    padding: 16px;
    display: flex;
    align-items: center;
}

#embedModalInput {
    height: 100%;
    width: 80%;
    color: gainsboro;
    border: 1px solid #484848;
    display: flex;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: .8rem;
    margin-right: 8px;
    overflow-x: auto;
    overflow-y: hidden;
}

#embedModalSubmitBtn {
    color: gainsboro;
    background-color: #2b5b28;
    padding: 8px 16px;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#editorFooterContainer {
    width: 700px;
    margin: 2em auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#eFSaveBtn {
    background-color: #13456f;
    padding: 8px 16px;
    border-radius: 10px;
    color: whitesmoke;
    margin-right: 5em;
    cursor: pointer;
    width: 50px;
    text-align: center;
    margin: 0px auto 2em auto;
}

#chooseCategoryContainer {
    color: #171717;
    margin-left: 16px;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 2em;
    padding-bottom: 1em;
}

.categoriesGroupContainer span {
    margin-left: 8px;
    font-size: .9rem;
}

.categoriesGroupContainer input {
    cursor: pointer;
}

.categoriesGroupContainer {
    margin-top: 8px;
    font-weight: normal;
}

.dropDownIcon {
    cursor: pointer;
    font-size: .7rem !important;
    color: #13456f;
}

#chooseTagsContainer {
    color: #171717;
    width: 700px;
    padding: 2em;
    margin-left: 16px;
    font-weight: bold;
    padding-bottom: 1em;
    /* non select */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.tagContainer {
    background-color: #eaf6ff;
    margin: 4px;
    padding: 8px;
    border-radius: 15px;
    font-size: 0.8rem;
    cursor: pointer;
    color: #13456f;
    flex-wrap: wrap;
    display: inline-flex;
}

.tagName {
    margin-left: 4px;
}

.tagContainer:hover {
    background-color: darkred;
    color: whitesmoke;
}

.tagInputForm {
    margin: 8px 16px;
    display: flex;
    align-items: center;
}

.tagInput {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid #1717;
    padding: 4px;
    margin: 0px 16px 0px 0px;
    box-shadow: 0px 0px 2px #1717;
    color: #004f00;
    border-radius: 5px;
}

.tagsContainer {
    margin: 8px 16px;
    max-width: 250px;
}

.tagSubmit {
    border: 0px;
    box-shadow: 0px 0px 1px black;
    padding: 4px 8px;
    background-color: #eaf6ff;
    border-radius: 10px;
    color: #13456f;
    cursor: pointer;
}

.tagSubmit:hover {
    background-color: darkgreen;
    color: white;
}

#tagInputSuggests {
    width: 190px;
    height: 200px;
    overflow: auto;
    box-sizing: border-box;
    padding: 1px 8px;
    box-shadow: 0px 0px 2px gray;
}

.tagResultContainer {
    box-shadow: 0px 0px 1px black;
    padding: 8px;
    margin: 8px 0px;
    font-size: .8rem;
}

.searchTagResultIcon {
    border-radius: 50px;
    background-color: #1b5520;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagResultContainer {
    box-shadow: 0px 0px 1.5px black;
    padding: 8px;
    margin: 8px 0px;
    font-size: .8rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 10px;
}

.tagResultName {
    width: 70%;
    margin-left: 8px;
}

.tagResultPostsCount {
    margin-left: auto;
    margin-right: 16px;
    font-size: .7rem;
    line-height: 0px;
    padding: 4px;
}


.inputForm {
    margin: 16px 0px 0px 0px;
}

#tagsInputContainer {
    font-weight: normal;
    padding: 16px;
}

.after-anchor {
    display: inline;
}

.navigationContainer {
    padding: 0px 0px 8px 16px !important;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.headersContainer {
    display: flex;
    flex-direction: column;
}

.headersNavContainerTitle {
    font-size: 1.5rem;
    margin: 8px 0px;
}

.headerContainer {
    padding: 8px 8px 0px 8px;
    margin-left: 8px;
    border-radius: 10px;
    color: darkblue;
    max-width: 50%;
    cursor: pointer;
    font-size: 1.1rem;

}

.headerContainer:hover {
    color: darkorchid;
    transition: .5s;
}

#postBody>iframe:nth-child(2) {
    width: 90% !important;
    max-width: 90% !important;
}

#postImgIconContainer {
    font-size: 10rem;
    background-color: #1212;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    border-radius: 20px;
    cursor: pointer;
    color: darkgray;
}

.removeImgIconContainer {
    text-align: right;
    color: red;
}

.removeImgIcon {
    cursor: pointer;
}

#postImgContainer {
    text-align: center;
}

#postImg {
    width: 90%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px gray;
    cursor: pointer;
}

/* crop img modal */
.modalDialogCrop {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0px;
    margin-top: 64px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}


/* Modal Content */
.modal-content {
    display: inline-block;
    background-color: #fefefe;
    padding: 20px;
    margin: 64px;
    text-align: center;
    width: 500px;
    border-radius: 15px;
}

/* save btn */
#crop_image {
    background-color: #171717;
    font-size: 18px;
    border-radius: 5px;
    color: whitesmoke;
    padding: 8px;
    min-width: 78px;
    border: 0px;
    cursor: pointer;
}

/* The Close Button */
.close {
    color: darkred;
    font-size: 36px;
    font-weight: bold;
}

.closeModalContainer {
    display: flex;
    justify-content: end;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#image_demo {
    width: auto !important;
    margin-top: 30px;
}

.croppie-container .cr-slider-wrap {
    width: 50% !important;
    margin: 15px !important;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#checkLastPostC {
    display: flex;
    align-items: center;
    margin-left: 16px;
    padding-left: 2em;
    margin-bottom: 2em;
    cursor: pointer;
    /* non select content*/
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#lPBox {
    width: 25px;
    height: 25px;
    background-color: #e6e6e6;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    border-radius: 9px;
    font-size: .7rem;
}

/* alert modal */
#alertModal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertModal-content {
    background-color: white;
    width: 500px;
    padding: 1em;
    border-radius: 15px;
    user-select: none;
    margin-bottom: 1em;
}

.alertModalFooter {
    text-align: right;
    margin-right: 32px;
    margin-top: 2em;
}

.alertOkBtn {
    display: inline;
    background-color: darkgreen;
    color: white;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
}

/********************** responsive layout ********************/
@media only screen and (min-width: 1000px) {
    #chooseTagsContainer {
        width: 870px;
    }

    .postContainer {
        width: 870px;
    }

    #editorFooterContainer {
        width: 870px;
    }

    #postBody>iframe:nth-child(2) {
        width: 90% !important;
        max-width: 90% !important;
    }

    .leftTB {
        height: 70vh;
    }

    .rightTB {
        height: 70vh;
    }
}

@media only screen and (max-width: 800px) {
    .rightTB {
        border-radius: 15px 0px 0px 15px;
        box-sizing: border-box;
    }

    .leftTB {
        box-sizing: border-box;
    }

    .navbarToggleActiveToolbar {
        top: 76px;
    }

    #chooseTagsContainer {
        width: 600px;
    }

    .postContainer {
        width: 600px;
    }

    #editorFooterContainer {
        width: 600px;
    }

    .headerContainer {
        max-width: 70%;
    }

    #postBody>iframe:nth-child(2) {
        width: 100% !important;
        max-width: 100% !important;
    }

    .toolbar-tool {
        margin-right: 0px;
    }

    #tBTogglerContainer {
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (max-width: 415px) {
    .rightTB {
        border-radius: 15px 0px 0px 15px;
        box-sizing: border-box;
    }

    .leftTB {
        box-sizing: border-box;
    }

    .toolbar-tool {
        margin-right: 0px;
    }

    #tBTogglerContainer {
        margin-left: auto;
        margin-right: auto;
    }

    .postContainer {
        margin-top: 20px;
    }

    .navbarToggleActiveToolbar {
        top: 76px;
    }

    #htmlModalContainer {
        top: 32vh;
        height: 60vh;
    }

    #htmlModalAddBtn {
        margin: 0px 35px;
    }

    #chooseTagsContainer {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding: 16px;
    }

    .postContainer {
        width: 100%;
        padding: 16px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 16px;
    }

    #editorFooterContainer {
        width: 90%;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        border: 0px;
        box-sizing: border-box;
    }

    #chooseCategoryContainer {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding: 16px;
        box-sizing: border-box;
    }

    .headerContainer {
        max-width: 70%;
    }

    #postBody>iframe:nth-child(2) {
        display: block !important;
        width: 100vw !important;
        max-width: 100vw !important;
        margin: 16px 0px 32px -32px !important;
        padding: 0px !important;
        border-radius: 0px !important;
    }

}