* {
    margin: 0;
    padding: 0;
}

.pageWrapper{
    min-height: 77vh;
}




/********************** responsive layout ********************/
@media only screen and (max-width: 700px){
    
}

@media only screen and (max-width: 400px){

}