/*./assets/css/index.css*/
body {
    margin: 0px;
    box-sizing: border-box;
    color: #353535;
}

.container{
    display:flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 55vh;
    padding-top: 115px;
    margin: 0px 174px;
}

.searchBar{
    margin-left:auto;
    margin-right:auto;
}

.categories{
    margin: 55px 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category{
    box-sizing: border-box;
    width: 435px;
    height:140px;
    margin-top: 16px;
    margin-left: 16px;
    padding: 16px 16px 0px 16px;
    display: flex;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.category .photo{
    width: 100px;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}
.categoryImg{
    width: 100px;
    height: 100px;
}

.category .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 8px;
}

.content .title{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.lastPosts{
    width: 700px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 115px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 15px;
    padding:24px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.575);
}

.post{
    box-sizing: border-box;
    padding: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.postHeader{
    display: flex;
    flex-wrap: wrap;
}
.authorImg{
    width:40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.userIcon{
    width:40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.authorImgContainer{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
}
.headerContent{
    padding-left: 8px;
}
.authorName{
    font-size: 17px;
}

.postDate, .commentDate, .replayDate {
    font-size: .7rem;
    margin-top:.5em;
    margin-bottom: auto;
    color:#646464;
}
/*remove the margin from  the post date*/
.postDate{
    margin-top:0px;
}
.postBody{
    margin-top:8px;
    display: flex;
    margin-left: 60px;
}
.postImg{
    width: 80px;
    height: 80px;
}
.postContent{
    padding-left: 8px;
    margin-top:auto;
    margin-bottom:auto;
}
.postTitle{
    font-size: 24px;
}
.postDes{
    font-size: 16px;
    color:#646464;
}
.postFooter{
    display:flex;
    padding:8px 60px;
}
.comments{
    margin-left:60px;
    margin-right:60px;
    margin-top:8px;
    font-size:18px;
    color: #353535;
}
.commentHeader{
    padding-top:8px;
    display:flex;
}
.imgCommenterPhoto{
    width: 30px;
    height: 30px;
}
.commenterName{
    padding-left:8px;
    margin-top:auto;
    margin-bottom: auto;
    font-size:16px;
}
.commentBody{
    padding-top:2px;
    margin-left: 40px;
    font-size: 13px;
}
.commentFooter{
    padding-top:2px;
    display:flex;
    margin-left: 40px;
}
.likes, .postLikes, .commentLikes, .replayLikes{
    display:flex;
}
.likeIcon, .postLikeIcon, .commentLikeIcon, .replayLikeIcon{
    height:15px;
    width:15px;
    margin-top:auto;
    margin-bottom: auto;
    font-size: .9rem;
}

.commentLikeIcon{
    padding-left:8px;
}

.likesCount, .postLikesCount, .commentLikesCount, .replayLikesCount{
    margin-top:.5em;
    padding-left:8px;
    margin-bottom: auto;
    font-size: .7rem;
}
.replays {
    display:flex;
}
.postReplayIcon, .commentReplayIcon{
    height:15px;
    width:15px;
    padding-left:16px;
    margin-top:auto;
    margin-bottom: auto;
    font-size: .9rem;
}
.postCommentsCount, .commentReplaysCount{
    font-size:13px;
    margin-top:.5em;
    padding-left:8px;
    margin-bottom: auto;
    font-size: .7rem;
}
.replaysContainer{
    margin-left:40px;
    margin-right:40px;
    margin-top:8px;
    font-size:18px;
}
.replayHeader{
    padding-top:8px;
    display:flex;
}
.imgReplayerPhoto{
    width:30px;
    height:30px;
}
.replayerName{
    padding-left:8px;
    margin-top:auto;
    margin-bottom: auto;
    font-size:16px;
}
.replayBody{
    padding-left:8px;
    margin-left:30px;
    font-size:13px;
}
.replayFooter{
    padding-top:4px;
    padding-left:8px;
    margin-left:30px;
    font-size:13px;
    display:flex;
}
.replayLikes{
    padding-left:8px;
    font-size:13px;
    display:flex;
}
.commentsToggle{
    display: flex;
}
.rotate {
    animation-name: rotate-animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes rotate-animation {
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.alreadyLikedIcon{
    height:15px;
    width:15px;
    margin-top:auto;
    margin-bottom: auto;
    font-size: .9rem;
    color: #a80000;
}

/** ------------ add comment ----------- */
.commentAuthorTools{
padding: 0px 14px;
text-align: center;
}

.addPostCommentContainer{
    display:flex;
    margin: 0px 40px 8px 40px;
    padding: 8px 0px;
}
.addPostCommentInput {
	flex: 1;
	font-size: .9rem;
	overflow-y: hidden;
	font-family: Georgia, 'Times New Roman', Times, serif;
	resize: none;
	border: 1px solid gray;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	padding: 4px;
}
.addPostCommentInputSubmit {
	height: 31px;
	text-align: center;
	margin-top: auto;
	background-color: black;
	color: white;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
	padding-top: 3px;
	font-size: 18px;
	border-radius: 9px;
	margin-left: 8px;
	margin-bottom: 2px;
}
.addPostCommentInputSubmit:hover{
    background-color: black;
	color: aqua;
}

.commentAuthorTools{
    margin:auto;
    cursor:pointer;
    color:#525252;
    font-size: 14px;
}
.editCommentModal {
	z-index: 1;
	background-color: rgba(243, 243, 243, 0.959);
	position: absolute;
	color: black;
	padding: 8px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.editCommentModalLineBreak{
    background-color:#444444;
    margin: 2px;
    height:1px;
    text-align: center;
}
.addCommentReplaySpinner{
    text-align: center;
    font-size: 18px;
    margin: auto 0px auto 8px;
}

/******************** edit comment *******************/
.editCommentContainer{
    display:flex;
    padding: 8px 0px;
    margin: 8px 40px;
}
.editCommentInput{
    flex: 1;
	font-size: .9rem;
	overflow-y: hidden;
	font-family: Georgia, 'Times New Roman', Times, serif;
	resize: none;
	border: 1px solid gray;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	padding: 4px;
}
.updatePostCommentButton{
	height: 31px;
	text-align: center;
	margin-top: auto;
	background-color: black;
	color: white;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
	padding-top: 3px;
	font-size: 18px;
	border-radius: 9px;
	margin-left: 8px;
	margin-bottom: 2px;
}
.updatePostCommentButton:hover{
    background-color: black;
	color: aqua;
}
.cancelUpdatePostCommentButton{
    height: 31px;
	text-align: center;
	margin-top: auto;
	background-color: rgb(75, 0, 0);
	color: white;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
	padding-top: 3px;
	font-size: 18px;
	border-radius: 9px;
	margin-left: 8px;
	margin-bottom: 2px;
}

.postNoComments{
	font-size: 13px;
	color: gray;
}

/** ------------ add replay ----------- */
/* .commentAuthorTools{
    padding: 0px 14px;
    text-align: center;
    } */
    
    .addCommentReplayContainer{
        display:flex;
        margin: 0px 0px 8px 40px;
        padding: 8px 0px ;
    }
    .addCommentReplayInput {
        flex: 1;
        font-size: .9rem;
        overflow-y: hidden;
        font-family: Georgia, 'Times New Roman', Times, serif;
        resize: none;
        border: 1px solid gray;
        border-radius: 9px;
        -moz-border-radius: 9px;
        -webkit-border-radius: 9px;
        padding: 4px;
    }
    .addCommentReplaySubmit {
        height: 31px;
        min-width: 108px;
        text-align: center;
        margin-top: auto;
        background-color: black;
        color: white;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
        padding-top: 3px;
        font-size: 18px;
        border-radius: 9px;
        margin-left: 8px;
        margin-bottom: 2px;
    }
    .addCommentReplaySubmit:hover{
        background-color: black;
        color: aqua;
    }
/************ replay author menu**********/
.commentReplayMenuIcon{
    margin:auto;
    cursor:pointer;
    color:#525252;
    font-size: 14px;
}
.replayAuthorMenu {
	z-index: 1;
	background-color: rgba(243, 243, 243, 0.959);
	position: absolute;
	color: black;
	padding: 8px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*********************** edit replay *************************/
.editReplayContainer{
    display:flex;
    padding: 8px 0px;
    margin: 8px 40px;
}
.editReplayInput{
    flex: 1;
	font-size: .9rem;
	overflow-y: hidden;
	font-family: Georgia, 'Times New Roman', Times, serif;
	resize: none;
	border: 1px solid gray;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	padding: 4px;
}
.editReplaySubmitBtn{
	height: 31px;
	text-align: center;
	margin-top: auto;
	background-color: black;
	color: white;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
	padding-top: 3px;
	font-size: 18px;
	border-radius: 9px;
	margin-left: 8px;
	margin-bottom: 2px;
}
.editReplaySubmitBtn:hover{
    background-color: black;
	color: aqua;
}
.cancelEditReplayBtn{
    height: 31px;
	text-align: center;
	margin-top: auto;
	background-color: rgb(75, 0, 0);
	color: white;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
	padding-top: 3px;
	font-size: 18px;
	border-radius: 9px;
	margin-left: 8px;
	margin-bottom: 2px;
}

/**************login modal************/
.loginModal{
	position: fixed;
    left: 50%;
    top: 50%;
}
.loginModalContainer{
    margin-left: -50%;
    margin-top:-50%;
	width: 500px;
    background-color: #fafafa ;
    box-shadow: 0px 0px 15px #818181;
    border-radius: 5px;
    padding: 16px;
    font-family: Roboto;
}
.closeLoginModalBtn{
    display: inline-block;
	cursor: pointer;
	background-color: #570303;
	padding: 8px 24px;
	color: white;
	border-radius: 10px;
	margin: 16px;
}
.loginModalTitle {
    font-size: 44px;
    padding: 36px;
    text-align: center;
    color: #512679;
}

.LoginModalForm {
    margin-left: 36px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginFormUsernameD {
    margin: 4px;
}

.LoginFormUserNameI {
    margin: 4px;
    padding: 8px;
    border: 1px solid #b3acac;
    border-radius: 5px;
    margin-bottom: 8px;
    width:250px
}
.loginFormPasswordD {
    margin: 4px;
    margin-left: -155px;
}
.LoginFormPasswordI {
    margin: 4px;
    padding: 8px;
    border: 1px solid #b3acac;
    border-radius: 5px;
    width:250px
}
.LoginFormPasswordForget {
    font-size: 0.9rem;
    margin-left: 36px;
    padding: 4px;
}
.LoginFormPasswordForget a {
    color: #512679;
    cursor: pointer;
    text-decoration: none;
}
.LoginFormPasswordForget a:hover {
    color: #4c93fd;
}

.LoginModalRegisterAccount {
    font-size: 0.9rem;
    margin-left: 36px;
    padding: 4px;
}

.LoginModalRegisterAccount a {
    color: #512679;
    cursor: pointer;
    text-decoration: none;
}

.LoginModalRegisterAccount a:hover {
    color: #4c93fd;
}

.LoginModalLoginBtn {
	display: inline-block;
	padding: 8px 36px;
	background-color: #512679;
	color: white;
	border-radius: 10px;
    margin-bottom: 56px;
    cursor: pointer;
}
.LoginModalFooter {
    display: flex;
    justify-content: end;
}

.loginModalSubmitContainer{
    display: flex;
    justify-content: center;
}
.loginModalErrorMessage {
	color: red;
	margin-left: -94px;
	padding-top: 16px;
}

/********************** alert modal**********************/
.alertModal{
	position: fixed;
    left: 50%;
    top: 50%;
}
.alertModalContainer{
    margin-left: -50%;
    margin-top:-50%;
	width: 500px;
    background-color: #fafafa ;
    box-shadow: 0px 0px 15px #818181;
    border-radius: 5px;
    padding: 16px;
    font-family: Roboto;
    display: inline-block;
}
.alertModalIcon{
    font-size: 36px;
    display: inline-block;
    color: #570303;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.alertModalMessage{
    padding: 16px;
}
.alertModalIconMsgWrapper{
    display: flex;
    padding: 16px;
}
.alertModalFooter{
    display: flex;
    justify-content: end;
}
.alertModalCloseBtn{
    display: inline-block;
	cursor: pointer;
	background-color: #570303;
	padding: 8px 24px;
	color: white;
	border-radius: 10px;
}

/********************** likers modal**********************/
.likersModal{
	position: fixed;
    left: 50%;
    top: 50%;
}
.likersModalContainer{
    margin-left: -50%;
    margin-top:-50%;
    width: 500px;
    max-height: 500px;
    background-color: #fafafa ;
    box-shadow: 0px 0px 15px #818181;
    border-radius: 5px;
    padding: 16px;
    font-family: Roboto;
    display: inline-block;
    overflow-y: auto;
}

.likersModalCloseBtn{
    display: inline-block;
	cursor: pointer;
	background-color: #512679;
	padding: 8px 24px;
	color: white;
	border-radius: 10px;
}
.likersModalLikerContainer {
    display: flex;
    padding:16px;
}
  
.likersModalLikerImg {
    width: 50px;
    height: 50px;
}
.likersModalLikerImgContainer{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}
.likerModalUserIcon{
    width:50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:#564cec;
}
.likersModalLikerName {
    display: flex;
    align-self: center;
    padding-left: 16px;
}
.likersModalLikerName a {
    text-decoration: none;
    color: #512679;
}
.likersModalFooter{
    display: flex;
    justify-content: end;
}
/*          add section          */
.addSection {
    position: fixed;
    bottom: 4em;
    right: 0;
    text-align: center;
}
.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #171717;
    color: whitesmoke;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.addMenu {
    padding: 18px;
    transition: display 1s;
    visibility: hidden;
}
.addPost {
  padding: 8px;
  background-color: #171717;
  border-radius: 15px;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
}
.addCategory {
    padding: 8px;
    background-color: #171717;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

/* add category modal: */
#addCModal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#addCMContent {
    background-color: white;
    padding: 16px;
    border-radius: 15px;
    width: 450px;
}
.inputSection {
    margin-top: 24px;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    font-size: 1rem;
}
#catISubmit {
    background-color: darkblue;
    margin: 8px;
    padding: 8px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    min-width: 50px;
    text-align: center;
    margin-top: 20px;
}
.catILabel {
  width: 100%;
  font-size: 1.3rem;
}
#catISubmit {
    background-color: #512679;
    margin: 32px 8px 8px 24px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    min-width: 50px;
    text-align: center;
    transition: 1s;
    color: white;
}
.catNameI {
    border: 0px;
    color: #171717;
    padding: 8px;
    box-shadow: 0px 0px 2px gray;
    border-radius: 10px;
    margin: 16px 0px;
    width: 350px;
    font-family: roboto;
}
#chooseCategoryContainer {
    padding: 16px 16px 0px 16px;
    width: 400px;
    font-size: 1.3rem;

}
.categoriesGroupContainer {
    max-height: 300px;
    overflow: auto;
    margin: 16px 0px;
    font-size: 1rem;
    box-shadow: 0px 0px 2px gray;
    border-radius: 15px;
  }

.categoriesGroupContainer span {
margin-left: 8px;
}

.rootCategoryContainer {
	padding: 4px;
}

.nestedCatContainer {
	padding: 4px;
}

.dropDownIcon {
	font-size: .7rem;
	color: gray;
	cursor: pointer;
}
#catMCancel {
    margin: 32px 8px 8px auto;
    padding: 8px;
    border-radius: 10px;
    color: darkred;
    cursor: pointer;
    min-width: 50px;
    text-align: center;
    transition: .5s;
}
#cMIErr {
	color: red;
	width: 100%;
	margin-top: 16px;
	font-size: .9rem;
	margin-left: 16px;
}
.catDesI {
	width: 350px;
	border: 0px;
	margin-top: 16px;
	box-shadow: 0px 0px 2px gray;
	padding: 8px;
	border-radius: 10px;
	height: 100px;
	resize: none;
	font-size: .8rem;
	font-family: roboto;
	color: #626262;
	line-height: 1.2em;
}
.cMHeaderContent {
    display: flex;
    justify-content: center;
}
.headerStep {
    background-color: gray;
    color: white;
    width: 25px;
    border-radius: 50px;
    text-align: center;
    margin: 0px 8px;
    font-size: .7rem;
    padding: 4px 0px;
}
.activeStep {
    background-color: #512679;
}
.modalNextBtnContainer {
    display: flex;
    justify-content: end;
    font-size: 1rem;
}
.modalNextBtn {
    padding: 4px 8px;
    background-color: #512679;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 16px;
}
.catImgLabel {
    margin-top: 16px;
}
.catNameLabel {
    margin-top: 16px;
}
.catDesLabel {
    margin-top: 16px;
}
#catImgI {
    margin: 16px 0px;
}
.inputSectionWrapper {
    margin-left: 48px;
    margin-top: 24px;
    font-size: 1.3rem;
  }
  #cMBack {
    margin-top: 24px;
    cursor: pointer;
  }
  .cMFooter {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }