* {
    margin: 0px;
}

.pageWrapper {
    min-height: 63vh;
}

#loadingContainer {
    min-height: 63vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #b7b7b7;
}

.loading-icon {
    margin-top: -5rem;
}

.rotate {
    animation-name: rotate-animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes rotate-animation {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* posts */
#postsContainer {
    width: 800px;
    margin: 60px auto;
}

/* posts time line  */
.eTimeLine {
    padding: 8px;
    background-color: #f9f9f9;
    margin: 8px;
    border-radius: 15px;
    display: flex;
    color: #999999;
    font-size: 1.3rem;
    align-items: center;
}
}

.timeLineYear {
    padding: 4px 8px;
}

.timeLineMonth {
    padding: 4px 8px;
}

/* non select */
.non-select {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}