* {
    margin: 0px;
}

.pageWrapper {
    min-height: 77vh;
}

.pageContainer {
    width: 100%;
    color: #2b2b2b;
}

/* all screens basic rules and screen > 800 || screen < 1200 rules */
#rootCatContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catContainer {
    box-shadow: 0px 0px 5px gray;
    border-radius: 15px;
    width: 300px;
    margin: 24px;
    cursor: pointer;
    align-self: flex-start;
}

.catImg {
    border-radius: 15px 15px 0px 0px;
}

.catInfo {
    padding: 16px;
}

.catTitle {
    font-size: 1.3rem;
    margin: 8px auto;
}

.catDes {
    margin: 8px auto;
    color: #484848;
}

.catPostsCount {
    margin: 16px 0px 0px 0px;
    font-size: .9rem;
    color: #484848;
}

/* body nav */
#bodyNav {
    display: inline-flex;
    background-color: #484848;
    color: whitesmoke;
    margin: 48px;
    border-radius: 15px;
    align-items: center;
}

.body-nav-link {
    border-radius: 15px;
    padding: 8px;
    transition: background-color .5s;
    cursor: pointer;
}

.body-nav-link:hover {
    background-color: #512679;
}

.body-nav-slash {
    margin: 0px 4px;
}

/* end body nav */

/* extra large screens */
@media only screen and (min-width: 1250px) {}

/* medium screens */
@media only screen and (max-width: 800px) {}

/* small screens */
@media only screen and (max-width: 430px) {}